<%- include("./header.ejs")%>
<body>
  <div class="container">
    <%- include("./navBar.ejs")%>
    <form action="/auth/user/post" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">userName</label>
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userName" autocomplete="off" required>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" autocomplete="off" required>
        </div>
        
        <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
      </form>
<%- include("./footer.ejs")%>
</div>
</body>
</html>


