<footer class="blog-footer">
    <p>Welcome To Jobs Fair<a href="/">One Place to Find all the jobs</a> by <a href="/">Jobs Fair</a>.</p>
    <p>
      <a href="#" style="color: white; text-decoration: none;">   <button type="button" class="btn btn-info"> Back to top</button></a>
     
    </p>
  </footer>