<form action="/set-blog" method="post">
  <h2>Jobs Content</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" autocomplete="off" required>
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Subject</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="subject" autocomplete="off" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"> Set Apply link</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="link" autocomplete="off" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <textarea  rows="5" cols="10" type="text" class="form-control" id="exampleInputPassword1" name="description" autocomplete="off" required></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Job Type</label>
        <textarea  rows="5" cols="10" type="text" class="form-control" id="exampleInputPassword1" name="jobtype" autocomplete="off" required></textarea>
      </div>
      
     
<hr>
<h2>Table Content</h2>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="company" autocomplete="off" >
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Full Time Offers</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="fulltime" autocomplete="off" >
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Internship Offers</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="intern" autocomplete="off" >
      </div>

      <h2>Job news</h2>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">headline</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="headline" autocomplete="off" >
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Head Subject</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="newshead" autocomplete="off" >
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">News Description</label>
        <textarea  rows="5" cols="10" type="text" class="form-control" id="exampleInputPassword1" name="news" autocomplete="off" ></textarea>
      </div>
     

      <h2>Updates</h2>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Ads Text</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="ads" autocomplete="off" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Update heading</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="updatehead" autocomplete="off" >
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Update Subject</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="updatesub" autocomplete="off" >
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Update Description</label>
        <textarea  rows="5" cols="10" type="text" class="form-control" id="exampleInputPassword1" name="updatedes" autocomplete="off" ></textarea>
      </div>

     
    <button type="submit" class="btn btn-primary">Publish Post</button>


   
  </form>
  <section>

    <a href="/adminSide/953f2aeb-6b36-439c-bca8-2f2717058887/211-953f2aeb-6b36-439c-bca8-2f2717058887/admin"> <button>Comments Admin</button></a>
  </section>